body {
   background: url(1.png); position: right ;repeat: repeat-y ;
	  background: url(1.png); position: left;repeat: repeat-y; 
    
  }
h1 {color: pink;text-align: left;background-color: black;text-shadow: 4px 4px 10px red; margin-left:5%; margin-right: 5%}
		p {color: black;text-align: center;text-shadow: 4px 4px 10px red;margin-left:5%; margin-right: 10% }
p:hover{color:red}
